.header {
  position: absolute;
  width: 100%;
  padding: 55px 0;

  &-logo {
    width: 190px;
  }

  &__container {
    @include flex-all-sb;
  }

  &__contant {
    a {
      position: relative;
      padding-left: 35px;
      font-size: 16px;
      line-height: 24px;
      color: var(--light-color);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #d3b47f;
      }
    }

    a::before {
      content: "";
      left: 0;
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("../img/phone.svg");
    }

    @include mobile {
      display: none;
    }
  }
}
