<header class="header">
  <div class="container header__container">
    <a href="#" class="header-logo">
      <img src="../img/logo.png" alt="Logo Tzeezotje">
    </a>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>À la carte</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Wijnkaart</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Lunchmenu</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Contact</a>
        </li>
      </ul>
      <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
    </nav>
    <div class="header__contant">
      <a href="tel:+3292825725" class="">+32 9 282 57 25</a>
    </div>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
