<section class="hero">
  <div class="container hero__container">
    <p class="hero__working-house">
      open everyday 6am&nbsp;&mdash; 9pm
    </p>
    <h1 class="hero__title">
      A&nbsp;bad day with lunch is&nbsp;better than a&nbsp;good day without&nbsp;it.
    </h1>
    <div class="hero__buttons">
      <button class="btn-reset btn hero__btn" data-graph-path="trainer-1">Reserve a&nbsp;table</button>
      <ul class="list-reset hero__icon-list">
        <li class="hero__icon-item">Fb</li>
        <li class="hero__icon-item">Ig</li>
        <li class="hero__icon-item">Tw</li>
        <li class="hero__icon-item">Yt</li>
      </ul>
    </div>
  </div>
</section>
