<section class="menu-of-day">
  <div class="container">
    <div class="menu-of-day__wrapper">
      <div class="menu-of-day__content">
        <ul class="list-reset menu-of-day__list">
          <li class="menu-of-day__item">
            <h3 class="menu-of-day__title">Woensdag 12/01</h3>
            <p class="menu-of-day__descr">
              Salade met Serrano
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              Steak Tartaar
            </p>
          </li>
          <li class="menu-of-day__item">
            <h3 class="menu-of-day__title">Donderdag 13/01</h3>
            <p class="menu-of-day__descr">
              Toast Roquefort
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              Penne met Kip en Prei
            </p>
          </li>
          <li class="menu-of-day__item">
            <h3 class="menu-of-day__title">Vrijdag 14/01</h3>
            <p class="menu-of-day__descr">
              Verrassing van de Chef
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              Penne met Kip en Prei
            </p>
          </li>
          <li class="menu-of-day__item">
            <h3 class="menu-of-day__title">Vrijdag 15/01</h3>
            <p class="menu-of-day__descr">
              Verrassing van de Chef
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              Penne met Kip en Prei
            </p>
          </li>
          <li class="menu-of-day__item">
            <h3 class="menu-of-day__title">Vrijdag 16/01</h3>
            <p class="menu-of-day__descr">
              Verrassing van de Chef
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              <span class="menu-of-day__dot"></span>
              Penne met Kip en Prei
            </p>
          </li>
        </ul>
        <div class="menu-of-day__img">
          <div class="menu-of-day__img--left">
            <img src="" alt="">
          </div>
          <div class="menu-of-day__img--right">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
