<section class="reviews">
  <div class="container">
    <div class="swiper mySwiper reviews__swiper">
      <div class="swiper-wrapper reviews__wrapper">
        <div class="swiper-slide reviews__slide">
          <div class="reviews__content">
            <svg class="reviews__quote">
              <use xlink:href="img/sprite.svg#quote"></use>
            </svg>
            <h3 class="reviews__title">
              Goede service, lekker eten, toffe ambiance
            </h3>
            <p class="reviews__descr">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut&nbsp;labore et&nbsp;dolore magna aliquyam erat, sed diam voluptua. At&nbsp;vero eos et&nbsp;accusam et&nbsp;justo duo dolores et&nbsp;ea&nbsp;rebum. Stet clita kasd gubergren.
            </p>
            <p class="reviews__author">ALAIN HEYNDRICKX</p>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__content">
            <svg class="reviews__quote">
              <use xlink:href="img/sprite.svg#quote"></use>
            </svg>
            <h3 class="reviews__title">
              Goede service, lekker eten, toffe ambiance
            </h3>
            <p class="reviews__descr">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut&nbsp;labore et&nbsp;dolore magna aliquyam erat, sed diam voluptua. At&nbsp;vero eos et&nbsp;accusam et&nbsp;justo duo dolores et&nbsp;ea&nbsp;rebum. Stet clita kasd gubergren.
            </p>
            <p class="reviews__author">ALAIN HEYNDRICKX</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
